@model IEnumerable<WebStore.Domain.ViewModels.UserOrderViewModel>
@{
    Layout = "_UserProfileLayout";
    ViewData["Title"] = "User Orders";
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1;}
        @foreach (var order in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@order.Name</td>
                <td>@order.Address</td>
                <td>@order.Phone</td>
                <td>@order.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>